ChooseColor.css .style-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.style-button .style-icon {
  width: 4rem; /* 크기 조정 */
  height: 8rem;
}

.style-button:hover {
  /* hover 시 스타일 변경 */
  transform: scale(1.1); /* 크기 확대 */
}
.style-text {
  transition: color 0.3s ease;
}

/* 선택된 상태의 텍스트 스타일 */
.style-button.selected .style-text {
  color: yellow; /* 선택된 상태의 텍스트 색상 변경 */
  transform: scale(1.1); /* 크기 확대 */
}
