
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* body {
  font-family: 'Noto Sans KR', sans-serif;
} */

html,
body,
#root {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
